#header {
	background-color: #8fdeff;
	text-align: left;
	padding-left: 20px;
	height: 50px;
	width: 100%;
	font-family: sans-serif;
	position: fixed;
}

#title {
	font-size: 30px;
	width: 40%;
	float: left;
	margin: 0px;
}

#menu-bar {
	background-color: #8fefff;
	text-align: right;
	width: 300px;
	float: right;
	height: 30px;
	padding-top: 20px;
	padding-right: 20px;
}

#menu-item {
	display: inline;
	font-size: 15px;
	margin-left: 17px;
	margin-right: 17px;
	vertical-align: center;
}

#principal-content {
	font-size: 17px;
	background-color: #aaf;
	padding: 30px;
}

#image {
	background-color: #ddf;
	text-align: center;
	margin: 0px;
	height: 420px;
	width: 640px;
	background-image: url("/images/surgery.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 100%;
	position: center;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	text-align: center;
	padding: 20px;
	background-color: #8fdeff;
	margin: 0px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	margin: 0px;
	background-color: #bbf;
}